
#top {
    background-image:url("4.png");
}

.container body-content{
    text-align:center;
}

#board{
    margin:5% auto;
    min-height:500px;
    height:auto;
    width:900px;
    background-color:white;
    box-shadow:2px 2px 20px #888;
    border-radius: 5px 5px;
    text-align:center;
    padding: 10px;
}

#choice{
    background-color:#8a8b8b;
    margin: auto;
    margin-top: 3%;
    height:20px;
    width:400px;
    text-align:center;
    padding:13px;
    border-radius: 5px 5px;
}

.select{
    height:15px;
    text-align:center;
    margin:auto;
    text-decoration-color:#696969;
    font-size:20px;
    font-family: 宋体;
}

.select:hover{
    font-weight:bold;
    text-decoration-color:black;
}

#s1{
    float:left;
    margin-left:50px;
}

#s2{
    float:right;
    margin-right:50px;
}

.select:hover{
    text-decoration-color:black;
}

#logo-mid{
    background-image:url("logo_mid.jpg");
    width:550px;
    height:300px;
    margin:auto;
}

#content{
    margin-left: 210px;
    margin-right: 210px;
    text-align:left;
    font-family: 黑体;
    color:#696969;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom:5%;
    line-height: 35px;
    letter-spacing: 5px;
}