
#top {
    background-image:url("2.png");
    background-position-y:0;
}

#navi a{
    text-decoration:none;
    color:black;
}

#navi a:visited{
    text-decoration:none;
    color:black;
}

#navi a:hover{
    text-decoration-line:underline;
}

.container body-content{
    text-align:center;
}

#board{
    margin:5% auto;
    min-height:500px;
    height:auto;
    width:900px;
    background-color:white;
    box-shadow:2px 2px 20px #888;
    border-radius: 5px 5px;
    text-align:left;
    padding: 10px;
}

.title{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 30px;
    font-family: 黑体;
    font-weight: bold;
}

.time{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 15px;
    font-family: 楷体;
}

.content{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    font-family: 楷体;
}

.more{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    font-family: 楷体;
}

#navi{
    margin: 0px;
    margin-top:10%;
    width:inherit;
    text-align:center;
    font-family: 楷体;
    font-size: 20px;
}

#top_title{
    color:#414141;
    font-family:黑体;
    font-size:xx-large;
    font-weight:700;
    margin:3%;
    margin-left:5%;
    text-decoration:none;
}

.line_title{
    color:#414141;
    font-family:黑体;
    font-size:large;
    font-weight:700;
    margin:3%;
    margin-left:5%;
    text-decoration:none;
}

.line_title:hover{
    text-decoration:underline;
}

.line_time{
    color:#414141;
    font-family:黑体;
    font-size:small;
    font-weight:500;
}