@{
    ViewBag.Title = "关于HASA";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/About.css" rel="stylesheet" />

<div id="board">
    <div id="choice">
        <a class="select" id="s1">组织介绍</a>
        <a class="select" id="s2">主要成员</a>
    </div>
    <div id="logo-mid"></div>
    <div id="content">湖南留学生联盟是湖南省唯一一家公益性的，非盈利性的留学生组织，我们致力于创建一个平台，让湖南省的出国留学生能够在此相互认识相互交流，共同为自己的出国留学打下坚实的基础，增强湖南留学生在全国的整体竞争力。我们持续地经营此平台，是为了给湖南留学生提供不同于中介或培训机构的留学指导，以真诚的姿态为湖南留学生带来来自学生，同龄人的第一手的留学帮助。</div>
</div>