@{
    ViewBag.Title = "关于HASA";
    Layout="~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/About.css" rel="stylesheet" />

<div id="board">
    <div id="choice">
        <a class="select" id="s1">组织介绍</a>
        <a class="select" id="s2">主要成员</a>
    </div>
</div>