@model List<HASAWeb.Models.ColumnView>

@{
    ViewBag.Title = "活动历程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">这里是活动历程</h2>
<br />
<h3 style="text-align:center;">具体内容待填充</h3>