@model List<HASAWeb.Models.ColumnView>

@{
    ViewBag.Title = "活动历程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Archieve.css" rel="stylesheet" />

<div id="left">
    <div id="columns">
    </div>
</div>
<div id="right">
    <div id="board"></div>
</div>
