@model List<HASAWeb.Models.Picture>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href=" ~/Content/HomeIndex.css" rel="stylesheet" />
    <script type="text/javascript">
    var w = window.innerWidth
    || document.documentElement.clientWidth
    || document.body.clientWidth;

    var h = window.innerHeight
    || document.documentElement.clientHeight
    || document.body.clientHeight;
    function initial() {
        body = document.getElementById("body");
        body.style.width = w;
        body.style.backgroundImage = URL('@(Model[0].Route)');
    }
    </script>
</head>
<body id="body" onload="initial()">
    <div style="height: 5%; width: 100%"> 
    </div>
    <div id="TopBar">
    </div>
</body>
</html>
