
@{
    ViewBag.Title = "加入HASA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/JoinUs.css" rel="stylesheet" />

<div id="left">
    <div id="contact">
        <div class="title">CONTACT&nbsp&nbspUS</div>
        <div class="label">Wechat</div>
        <img id="QR" src="~/Content/QR_Code.jpg"/>
        <div class="label">Weibo</div>
        <div class="label" style="margin-top:0;">@@HASAChina</div>
        <div class="label">QQ Group(for parents)</div>
        <div class="label" style="margin-top:0;">201849486</div>
    </div>
</div>
<div id="right">
    <div id="RLeft">
        <div class="title" style="font-family:黑体; margin-top:15%;">成为<br />Mentor/Mentee</div>
        <div class="content">Mentor&Mentee项目旨在帮助出国党们更好地利用身边的资源，在高三和高一高二出国党间搭起互相帮助的桥梁，建立长久的、一对一的对口帮助关系，将高三出国党的第一手资源分享给乐于学习、渴望探讨的学弟学妹们，以紧密湖南出国学生群体的联系、提升出国党的整体水平。</div>
    </div>
    <div id="RRight">
        <div class="title" style="font-family:黑体;">成为常务理事</div>
        <div class="content" style="margin-top:25%;">团体理事组成理事会。理事会是会员大会的执行机构，在闭会期间领导团体开展日常工作，对会员大会负责。在理事会闭会期间行使部分理事会职权。</div>
    </div>
</div>

